body{
  /* height: fit-content; */
}
.headingbb{
  font-size: 40px;
  line-height: 56px;
  font-family: spartan;
  letter-spacing: -0.5px;
  color: white;
  font-weight: 600;
  
}
.headingwb{
  font-size: 40px;
  line-height: 56px;
  font-family: spartan;
  letter-spacing: -0.5px;
  color: #242B37;
  font-weight: 600;
}
.descriptionbb{
  color: white;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 0.2px;
  font-weight: 400;
}
.descriptionwb{
  color: #242B37;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 0.2px;
  font-weight: 400;
}
#f-icon{
  color: white;
  font-size: 50px;
  font-family: spartan;
  font-weight: lighter;
  line-height: 72px;
  position: absolute;
  top: 5%;
  font-weight: 700;
  

}
#section1{
  background-color: black;
  display: flex;
  align-items: center;
  position: relative;
  height: 800px;


}
#first-container{
  margin-left: 10%;
  
 

}


#e-i{
  height: 78vh;
  width: 65vh;
  z-index: 100;
  position: relative;
  bottom: 7vh;
  
  
}
#feature-container{
  position: relative;
  margin-left: 10%;
  margin-right: 10%;

  

}
#Enjoyable{
  display: flex;
  align-items: center;
  
}
#enj-img{
  position: absolute;
  bottom: 50vh;
}
#enjoy-text{
  margin-left: 10%;
  
}
#local-i{
height: 80vh;
width: 60vh;



}
#locally{
  display: flex;
  justify-content: flex-end;
  margin: 7%;
  margin-top: 0;
}
#local-text{
  margin-right:10%;
  margin-top: 20%;
  height: fit-content;
  
  
}
#section3{
  background-color: rgb(0, 0, 0);
  margin-top: -220px;
}
.dishesheadingstyle{
  font-size: 18px;
  line-height: 28px;
  letter-spacing: -0.2px;
  font-family: spartan;
  color: white;
}
.dishesdesstyle{
  font-size: 18px;
  line-height: 28px;
  letter-spacing: -0.2px;
  font-family: spartan;
  color:white;
}
#highlights{
  display: flex;
  justify-content: space-between;
  margin: 10%;
  
}
.di{
  height: 13vh;
  width: 17vh;
}
#dishes{
  margin-right: 3%;
  margin-top: 15%;
  margin-bottom: 10%;
  text-wrap: nowrap;
  
}
.dish{
  display: flex;
  justify-content: space-between;
}
.dish-text{
  margin-left: 7%;
}
#highlights-text{
  height: 30%;
  margin-top: 10%;
}
#fg-i{
  height: 70vh;
}
#family-gathering{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 10%;
  margin-top: -50px;
  

}
#family-gathering-text{
  margin-left: 10%;
}
#ready{
display: flex;
justify-content: center;

justify-content: space-between;
height: 100%;
  
  

  
}
#section5{
  background-image: url("https://d3dyfaf3iutrxo.cloudfront.net/general/upload/03479a3952a4415d8e5e23e7ce9e61ce.jpg");
  
  height: 35vh;
  
}
#ready-title{
  color: white;
  margin-top: 15vh;
  margin-left: 35vh;
  

}









#first-img > img{
  width: 600px;
  height: 795px;
  margin-left: 30%;
  
}
.f-heading{
  font-size: 64px;
  line-height: 72px;
  letter-spacing: -0.8px;
  
  
  font-family: spartan;
  
  color: white;
  font-weight: 400;
}
footer{
  height: 50vh;
  gap: 1vh;
  background-color: black;
  color: white;
  padding-top: 5%;
  display: flex;
  justify-content: space-between;
}
#loc{
  display: flex;
  gap: 2vh;
  align-items: center;
  
}
#phone{
  display: flex;
  gap: 2vh;
  align-items: center;
  
}



#footer-text{
  color: rgb(245, 240, 232);
  margin-left: 5%;

}

#msg-box{
  color: white;
  margin-right: 10%;
  height: 50;
  
}
#a-d{
  font-size: 20px;
  font-weight: 700;
  color: white;
}
#c-u{
  font-size: 20px;
  font-weight: 700;
  margin-top: -0.5%;
  
 

}
#email{
  margin-top: 1%;
  height: 10%;
  width: 50vh;
  border-radius: 10px;
  display: flex;
  gap: 2vh;
  align-items: center;
  border: none;
  background-color: #3B3B3B;
  
}
#emailic{
  margin-top: 1%;

  display: flex;
  gap: 2vh;
  align-items: center;

  
}
#name{
  height: 10%;
  width: 50vh;
  border-radius: 10px;
  border: none;
  background-color: #3B3B3B;
  margin-bottom: 3%;
  
}
#msg{
  height: 10%;
  width: 50vh;
  border-radius: 10px;
  margin-top: 5%;
  border: none;
  background-color: #3B3B3B;
}
#send{
  width: 5vh;
  height: 5vh;
  border-radius: 10px;
}
.buttonw {
  font-family: 'Spartan', sans-serif;
  color: white;
  font-size: 14px;
  text-transform: uppercase;
  height: 64px;
  width: 245px;
  letter-spacing: 2px;
  font-weight: 600;
  background-color: black;
  border: 1px solid white;
}
.buttont{
  font-family: 'Spartan', sans-serif;
  color: white;
  font-size: 14px;
  text-transform: uppercase;
  height: 64px;
  width: 245px;
  letter-spacing: 2px;
  font-weight: 600;
  background-color: transparent;
  border: 1px solid white;
}
#ready-title{
  display: flex;
  gap: 30px;

}
button:hover{
  color: black;
  background-color: white;
  border: 1px solid black;
  transition: 1s;
  cursor: pointer;
}
#send{
  padding: 3%;
  height: 11%;
  width: 20%;
  background-color: #FF7B4C;
  border: none;
  color: white;
}
#btn-FG{
  margin-top: 10%;
}
#des-i{
  position: relative;
  bottom: 34vh;
  left: 14vh;
}
#des-i2{
  position: relative;
  bottom: 28vh;
  left: 113vh;
}
send:hover{
  cursor: pointer;
}


